server:
  port: 8081
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: root123
    url: jdbc:postgresql://localhost:5432/task
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never
